<mat-toolbar>
  <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
    <mat-chip style="background-color: rgb(255, 255, 255)">
      <span
        style="
          color: white;
          justify-content: left;
          font-size: 25px;
          padding-top: 15px;
        "
        ><img src="assets/logo.jpeg" width="200px"
      /></span>
    </mat-chip>
  </mat-chip-list>
  <span class="example-spacer"></span>
  <a (click)="goToHome()">Home</a>
  <a (click)="goToDrivers()">Riders</a>
  <a (click)="goToPassengers()">Customers</a>
  <a (click)="goToOrders()" style="margin-right: 20px">Orders</a>

  <!-- <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span> -->
  <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
    <a (click)="logout()" class="logoutButton">Log out</a>
  </mat-chip-list>
</mat-toolbar>
<div class="background">
  <h1>Sendiate Rider's List</h1>

  <table
    mat-table
    [dataSource]="drivers[0]"
    class="mat-elevation-z8"
    *ngIf="drivers"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Firstname</th>
      <td mat-cell *matCellDef="let element">{{ element.displayName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Lastname</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <button
          *ngIf="element.isAccountVerified == false"
          type="submit"
          mat-raised-button
          style="background-color: #fcbd58; color: white; border-radius: 10px"
          (click)="status(element.id)"
        >
          Verify
        </button>
        <p *ngIf="element.isAccountVerified == true">Verified</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td
        mat-cell
        *matCellDef="let element"
        style="justify-content: space-evenly"
      >
        <button
          mat-raised-button
          style="background-color: #fcbd58; color: white; border-radius: 10px"
          (click)="goToDriverInfo(element.id)"
        >
          More Info
        </button>
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
