h1 {
  color: #212529;
  font-size: 30px;
  font-weight: bolder;
}

h2 {
  color: #698893;
  margin-bottom: 50px;
}

a {
  color: #212529;
  border-bottom: 2px solid transparent;
  transition: 0.5s border-bottom;
  padding: 20px;
}

mat-toolbar {
  background-color: transparent;
  display: flex;
  justify-items: flex-start;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-row:nth-child(even) {
  background-color: #212529;
}

.mat-row:nth-child(odd) {
  background-color: #212529;
}

.mat-header-cell {
  background-color: #fcbd58;
}

.background {
  align-items: center;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  padding-top: 1%;
  padding: 20px;
  background-color: #ffffff;
}

.btn {
  background-color: #212529;
  border-radius: 2px;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  transition: 0.5s background-color;
}

a:hover {
  border-bottom: 2px solid #212529;
  cursor: pointer;
}

.btn:hover {
  background-color: #212529;
}

.logoutButton {
  background: #fff;
  padding: 4px 12px;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #000000;
}

.logoutButton:hover {
  color: #fff;
  background-color: #000000;
}

table {
  width: 100%;
}

.truncate-cell {
  max-width: 250px; /* feel free to include any other value */
  /* white-space: nowrap; */
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
